Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="Mass_helper" elementFormDefault="qualified" targetNamespace="Mass_helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="massProblems" type="tns:Mass_helper.massProblemsCT" />
	<xs:complexType name="Mass_helper.massProblemsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="1" name="openMass" type="tns:Mass_helper.openMassCT" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Mass_helper.openMassCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="creditBroker" type="tns:Mass_helper.creditBrokerCT">
				<xs:annotation>
					<xs:documentation>The CreditBroker.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="sBankV" type="tns:Mass_helper.SBankVCT">
				<xs:annotation>
					<xs:documentation>The SBankV.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="sBankP" type="tns:Mass_helper.SBankPCT">
				<xs:annotation>
					<xs:documentation>The SBankP.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Mass_helper.creditBrokerCT">
		<xs:attribute name="to" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The to.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="copy" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The copy.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Mass_helper.SBankVCT">
		<xs:attribute name="tO" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TO.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cOPY" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The COPY.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Mass_helper.SBankPCT">
		<xs:attribute name="tO" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TO.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cOPY" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The COPY.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
